.course-details-container {
    padding: 24px;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  .loading {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  mat-card {
    max-width: 600px;
    margin: 0 auto;
  }