<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    @if(!sidenav){
    <mat-icon>menu</mat-icon>
    } @else {
    <mat-icon>close</mat-icon>
    }
  </button>
  <span class="toolbar-title">קורסים אונליין</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/courses" routerLinkActive="active">
    <mat-icon>library_books</mat-icon>
  </button>

  <button mat-icon-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button routerLink="/jobs" routerLinkActive="active">
    <mat-icon>work</mat-icon>
  </button>
  <button mat-icon-button routerLink="/certificate" routerLinkActive="active">
    <mat-icon>school</mat-icon>
  </button>
  @if (isLoggedOut$ | async) {
  <button mat-icon-button (click)="openLoginPopup()">
    <mat-icon>login</mat-icon>
  </button>
  } @else {
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  }
  <div class="user-avatar">
    @if(isLoggedOut$ | async){

    <mat-icon>person</mat-icon>

    } @else {
    <mat-icon>{{loggedInUserName! | firstLetter}}</mat-icon>

    }
  </div>
</mat-toolbar>