<mat-sidenav-container class="app-container" dir="rtl">
  <mat-sidenav #sidenav mode="side" opened="false" class="app-sidenav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        בית
      </a>
      <a mat-list-item [routerLink]="['/courses']">
        <mat-icon>library_books</mat-icon>
        קורסים
      </a>
      <a mat-list-item [routerLink]="['/about']">
        <mat-icon>info</mat-icon>
        אודות
      </a>
      <a mat-list-item [routerLink]="['/jobs']">
        <mat-icon>work</mat-icon>
        דרושים
      </a>
      <a mat-list-item [routerLink]="['/certificate']">
        <mat-icon>school</mat-icon>
        התעודה שלי
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <div class="app-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>