<mat-card @fadeIn>
  <mat-card-header>
    <mat-card-title>{{ isLogin ? 'כניסה' : 'הרשמה' }}</mat-card-title>
    <button mat-icon-button (click)="closeDialog()" aria-label="סגור חלון">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    @if (showSuccessMessage) {
      <div class="success-message" @fadeIn dir="rtl">
        <mat-icon class="success-icon" dir="rtl">check_circle</mat-icon>
        {{ successMessage }}
      </div>
    } @else {
      <form [formGroup]="authForm" (ngSubmit)="submit()">
        @if (!isLogin) {
          <mat-form-field appearance="outline" dir="rtl" [ngClass]="{'invalid-field': authForm.get('name')?.invalid && authForm.get('name')?.touched}">
            <mat-label dir="rtl">שם</mat-label>
            <input matInput formControlName="name" type="text" dir="ltr" />
            <mat-icon matSuffix dir="rtl">person</mat-icon>
            <mat-error dir="rtl" class="error-text">שם הוא שדה חובה</mat-error>
          </mat-form-field>
        }

        <mat-form-field appearance="outline" dir="rtl" [ngClass]="{'invalid-field': authForm.get('email')?.invalid && authForm.get('email')?.touched}">
          <mat-label dir="rtl">אימייל</mat-label>
          <input matInput formControlName="email" type="email" dir="ltr" />
          <mat-icon matSuffix dir="rtl">email</mat-icon>
          @if(authForm.get('email')?.invalid && authForm.get('email')?.touched){
          <mat-error dir="rtl" class="error-text">יש להזין כתובת אימייל תקינה</mat-error>
          }
          @if(authForm.get('email')?.value.length==0 && !authForm.get('email')?.touched){
          <mat-error dir="rtl" class="error-text">יש להזין אימייל</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" dir="rtl" [ngClass]="{'invalid-field': authForm.get('password')?.invalid && authForm.get('password')?.touched}">
          <mat-label dir="rtl">סיסמה</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" dir="ltr" />
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" aria-label="הצג סיסמה" dir="rtl">
            <mat-icon dir="rtl">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error dir="rtl" class="error-text">סיסמה היא שדה חובה</mat-error>
          <mat-error dir="rtl" class="error-text">הסיסמה צריכה להכיל לפחות 6 תווים</mat-error>
        </mat-form-field>

        @if (error$ | async) {
          <div class="error-message" @fadeIn dir="rtl">
            <mat-icon class="error-icon" dir="rtl">error</mat-icon>
            {{ error$ | async }}
          </div>
        }
      </form>
    }
  </mat-card-content>

  <mat-card-actions>
    @if (!showSuccessMessage) {
      <div class="actions-container">
        <button mat-button (click)="toggleMode()" class="switch-mode-btn">
          {{ isLogin ? 'הרשמה חדשה' : 'כבר יש לי חשבון' }}
        </button>
        
        <div class="submit-container">
          @if (loading$ | async) {
            <mat-progress-spinner class="login-spinner" mode="indeterminate" diameter="24"></mat-progress-spinner>
          } @else {
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="submitBtnDisabled" class="submit-btn">
              {{ isLogin ? 'כניסה' : 'הרשמה' }}
            </button>
          }
        </div>
      </div>
    } @else {
      <button mat-button (click)="closeDialog()">סגור</button>
    }
  </mat-card-actions>
</mat-card>